/* You can add global styles to this file, and also import other style files */
.container {
    margin: 0 auto;
    width: 1000px;
    padding: 50px;
    display: flex;
    justify-content: center;
}

.container {
    background-color: aqua;
}